{:deps  true
 :nrepl {:port 9000}

 :builds
 {:app
  {:target    :node-script
   :output-to "out/app.js"
   :main      rehook.test/main}

  :test
  {:target    :node-test
   :output-to "out/test.js"}}}
