{:deps  true
 :nrepl {:port 9000}
 :dev-http {8000 "public"}

 :builds
 {:app
  {:target    :node-script
   :output-to "out/app.js"
   :main      rehook.test/main}

  :todomvc
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :closure-defines {rehook.test.browser/HTML "<!DOCTYPE html><html><head><link rel=\"stylesheet\" href=\"styles/todo.css\"></head><body><div></div></body></html>"}
   :devtools {:preloads [devtools.preload
                         rehook.test.browser]}
   :modules {:main {:entries [rehook.demo.app]
                    :init-fn rehook.test.browser/report}}}

  :test
  {:target    :node-test
   :output-to "out/test.js"}}}
